*.gem
*.rbc
.bundle
.config
.idea
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor/Pods
vendor/Podfile.lock
Gemfile.lock
__MACOSX

# YARD artifacts
.yardoc
_yardoc
doc/
